<% layout("/layouts/boilerplate")%>

<div class="row mt-3">
    <div class="alert alert-danger col-12 col-md-6 offset-md-3" role="alert">
        <h4 class="alert-heading"><%= message %></h4>
    </div>
</div>
